h1 {
    text-align: center;
}
.container{
    text-align: center;
    
}
img{
    width: 100%;
}

.encabezado{
    font-family:'Times New Roman', Times, serif;
}
img{
    width: 150px;
    height: 150px;
}